<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form  enctype="multipart/form-data" method='POST'> {% csrf_token %}
      <p>Height</p>
      <input type="text" onchange="loadFile(event)" name="height" id="ht" />
      <p>width</p>
      <input type="text" onchange="loadFile(event)" name="width" id="wt" />
      <p>File</p>
      <input type="file" name="image" onchange="loadFile(event)" />

        <input type="submit" name="submit">

      <p>Output</p>}

    </form>

    <img src={{ old }}>
    <img src={{ new }}>

  </body>
  <script src="https://fiestoassets.s3.amazonaws.com/SeamCarving/script.js"></script>
</html>
